<div>

  <header class="home-header">
    <div class="container">
      <div class="home-header__logo">
        <h1 class="sr-only">#kirkleeswelcomes</h1>
        <p class="sr-only">Working together to support and celebrate migration</p>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="home-start">

      <form class="home-search" ng-submit="$ctrl.doSearch()">
        <h2><label for="search">Search for a service</label></h2>
        <p>Search for specific services by keyword</p>
        <input type="search" name="search" id="search" ng-model="$ctrl.searchText" placeholder="Search by keyword" class="home-search__input" />
        <button type="submit" class="button-link">Search</button>
      </form>

      <div class="home-filters">
        <div ng-if="$ctrl.showLoader" class="tool__loader">
          <img ng-src="/app/images/kw-logo.png" alt="Loading" />
          Loading...
        </div>
        <h2>Select a stage</h2>

        <div class="home-filters__stages">

          <div ng-repeat="stage in $ctrl.stages" class="home-filters__stage home-filters__stage--{{stage.id}}">
            <button type="button" ng-class="{'active' : stage.selected }"  ng-click="$ctrl.selectStage(stage)">
              {{stage.name}}
            </button>
          </div>

        </div>

        <div ng-show="$ctrl.showCategories" class="home-filters__categories">
          <h2>Select a category</h2>
          <div class="home-filters__stages">
            <div class="home-filters__stage" ng-repeat="category in $ctrl.categories">
              <button type="button"  ng-click="$ctrl.go(category)">{{category.name}}</button>
            </div>
            <div class="home-filters__stage">
              <button type="button"  ng-click="$ctrl.go()">All</button>
            </div>
          </div>
        </div>

      </div>

      <div class="home-view-all">
        <h2>View all services</h2>
        <p>Start with an overview of all services then filter by stage, category, service users and provider to find the information you need.</p>
        <a class="button-link" href="/tool">View all services</a>
      </div>
    </div>
  </div>

  <div class="home-info">
    <div class="container home-info-container">
      <div>
      <h2>#Kirkleeswelcomes Online Service Directory</h2>

      <p>This directory lists local, regional and national projects, organisations and services that can provide advice and support for asylum seekers and refugees.</p>

      <p>It is designed to help officers and volunteers who are supporting refugees and asylum seekers in Kirklees. It covers all stages of the asylum process and all kinds of statutory and informal support, the Kirklees Welcomes Service Directory will help you provide support to individuals and families.</p>

      <p>If you have any comments or feedback, or if you spot any gaps or errors, please contact Veronika and Stephanie on <a href="mailto:pathways@kcalc.org.uk">pathways@kcalc.org.uk</a>.</p>

      </div>
      <div>
      <div class="home-info__cta">
        <h3>Keep up to date</h3>
        Keep up to date with news and events happening across Kirklees in connection to #kirkleeswelcomes and also wider community activities
        <a href="https://www.facebook.com/pg/Kirkleeswelcomes/about/"><img src="../../images/facebook.png" alt="Find us on Facebook" /></a>
        <a href="https://twitter.com/kirkleeswelcome"><img src="../../images/twitter.png" alt="Follow us on Twitter" /></a>
      </div>
    </div>
    </div>
    <div class="container">
      <h3>The Kirklees Welcomes Online Service Directory is supported by:</h3>
      <ul class="home-logos">
          <li><a href="http://www.kirklees.gov.uk/"><img src="../../images/kirklees-council-logo.jpg" alt="Kirklees Council" /></a></li>
          <li><a href="https://www.kcalc.org.uk/"><img src="../../images/kirklees-cab-logo.jpg" alt="Kirklees Citizens Advice and Law Centre" /></a></li>
        </ul>
        <p><strong>Kirklees Welcomes would like to say thank you to City of Sanctuary Sheffield, Assist, sheffugees and all the groups and volunteers who helped to develop the original Asylum Journey in Sheffield.</strong></p>
    </div>
  </div>
</div>
